html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


#container {
    width: 100%;
    height: 100%;
}

.monaco-editor .suggest-widget {
    opacity: 0;
    transition: opacity 0.3s ease-in-out; 
}

.monaco-editor .suggest-widget.visible {
    opacity: 1; 
}